@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Rubik", sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #1e6312;
}
header .info_top {
  width: 100%;
  background-color: #f5f5f5;
}
header .info_top .top_info {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .info_top .top_info .info_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .info_top .top_info .info_1 .info_i {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
header .info_top .top_info .info_1 .info_i p {
  margin-left: 7px;
}
header .info_top .top_info .info_2 {
  display: flex;
  align-items: center;
}
header .info_top .top_info .info_2 .info_c {
  margin-left: 10px;
}
header .header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .logo {
  height: 130px;
}
header .header .logo img {
  height: 100%;
}
header .header .info_block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #467e44;
}
header .header .info_block img {
  margin: 0 15px 0 30px;
}
header .header .info_block p {
  font-size: 16px;
  color: #fff;
}
header .header .info_block p span {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
}
header .header .menu a {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin-left: 25px;
}

.baner_bg {
  width: 100%;
  height: 300px;
  position: relative;
}
.baner_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.baner_bg p {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 56px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #172541;
  transform: translate(-50%, -50%);
}

.baner_1 {
  width: 100%;
  box-shadow: 0 0 10px #eeeff1;
}
.baner_1 .ban_1 {
  width: 100%;
  height: 60px;
  padding: 0 20px;
}
.baner_1 .ban_1 a {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  font-size: 16px;
  background-color: #f3525a;
}

.baner_text {
  width: 100%;
  padding: 60px 20px;
}
.baner_text h3 {
  color: #F3525A;
  font-size: 16px;
  font-weight: 500;
}
.baner_text h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 35px 0;
}
.baner_text p {
  color: #565872;
  font-size: 16px;
  line-height: 1.8em;
}

footer {
  width: 100%;
}
footer .footer_block {
  width: 100%;
  position: relative;
}
footer .footer_block .footer_1 .footer_1_1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 60px 0;
  border-bottom: 2px solid #212121;
}
footer .footer_block .footer_1 .footer_1_1 p {
  font-size: 30px;
  font-weight: 500;
}
footer .footer_block .footer_1 .footer_1_1 a {
  padding: 18px 35px;
  background-color: #4ED137;
  color: #fff;
  border-radius: 30px;
  font-weight: 500;
}
footer .footer_block .footer_1 .footer_1_2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 55px 0;
}
footer .footer_block .footer_1 .footer_1_2 .item {
  width: 33%;
}
footer .footer_block .footer_1 .footer_1_2 .item h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}
footer .footer_block .footer_1 .footer_1_2 .item .item_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
footer .footer_block .footer_1 .footer_1_2 .item .item_text p {
  color: #fff;
  line-height: 1.8em;
  font-size: 16px;
  font-weight: 400;
  margin-left: 15px;
}
footer .footer_block .footer_1 .footer_1_2 .item .item_text .f_img {
  width: 100px;
}
footer .footer_block .footer_1 .footer_1_2 .item .footer_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
footer .footer_block .footer_1 .footer_1_2 .item .footer_form input {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  color: #a0a0a0;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #a0a0a0;
  background-color: rgba(255, 255, 255, 0);
}
footer .footer_block .footer_1 .footer_1_2 .item .footer_form button {
  height: 60px;
  width: 60px;
  background-color: #4ed137;
}
footer .footer_block .footer_1 .footer_1_2 .item p {
  color: #fff;
  line-height: 1.8em;
  font-size: 16px;
  font-weight: 400;
}
footer .footer_block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101010;
  z-index: -2;
}
footer .footer_block ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.01;
  background: url("../img/ban_f.png") center/cover no-repeat;
}
footer .footer_2 {
  width: 100%;
  padding: 30px 0;
  background-color: #101010;
}
footer .footer_2 .footer_2_1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_2 .footer_2_1 img {
  height: 150px;
}
footer .footer_2 .footer_2_1 p {
  color: #A5A5A5;
  font-size: 16px;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 667px;
  }

  header {
    width: 100%;
    background-color: #1e6312;
  }
  header .info_top {
    width: 100%;
    background-color: #f5f5f5;
  }
  header .info_top .top_info {
    width: 100%;
    height: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  header .info_top .top_info .info_1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  header .info_top .top_info .info_1 .info_i {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  header .info_top .top_info .info_1 .info_i p {
    margin-left: 7px;
    font-size: 12px;
  }
  header .info_top .top_info .info_2 {
    display: flex;
    align-items: center;
  }
  header .info_top .top_info .info_2 .info_c {
    margin-left: 10px;
  }
  header .header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  header .header .logo {
    height: 80px;
  }
  header .header .logo img {
    height: 100%;
  }
  header .header .info_block {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #467e44;
  }
  header .header .info_block img {
    margin: 0 15px 0 30px;
  }
  header .header .info_block p {
    font-size: 16px;
    color: #fff;
  }
  header .header .info_block p span {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
  }
  header .header .menu a {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-left: 25px;
  }

  footer {
    width: 100%;
  }
  footer .footer_block {
    width: 100%;
    position: relative;
  }
  footer .footer_block .footer_1 .footer_1_1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    border-bottom: 2px solid #212121;
  }
  footer .footer_block .footer_1 .footer_1_1 p {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  footer .footer_block .footer_1 .footer_1_1 a {
    padding: 16px 35px;
    background-color: #4ED137;
    color: #fff;
    border-radius: 30px;
    font-weight: 500;
  }
  footer .footer_block .footer_1 .footer_1_2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    padding: 55px 0;
  }
  footer .footer_block .footer_1 .footer_1_2 .item {
    width: 100%;
    margin-bottom: 30px;
    padding: 0 20px;
  }
  footer .footer_block .footer_1 .footer_1_2 .item h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  footer .footer_block .footer_1 .footer_1_2 .item .item_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }
  footer .footer_block .footer_1 .footer_1_2 .item .item_text p {
    color: #fff;
    line-height: 1.8em;
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
  }
  footer .footer_block .footer_1 .footer_1_2 .item .item_text .f_img {
    width: 100px;
  }
  footer .footer_block .footer_1 .footer_1_2 .item .footer_form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  footer .footer_block .footer_1 .footer_1_2 .item .footer_form input {
    width: 100%;
    height: 60px;
    padding-left: 20px;
    color: #a0a0a0;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #a0a0a0;
    background-color: rgba(255, 255, 255, 0);
  }
  footer .footer_block .footer_1 .footer_1_2 .item .footer_form button {
    height: 60px;
    width: 60px;
    background-color: #4ed137;
  }
  footer .footer_block .footer_1 .footer_1_2 .item p {
    color: #fff;
    line-height: 1.8em;
    font-size: 16px;
    font-weight: 400;
  }
  footer .footer_block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #101010;
    z-index: -2;
  }
  footer .footer_block ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.01;
    background: url("../img/ban_f.png") center/cover no-repeat;
  }
  footer .footer_2 {
    width: 100%;
    padding: 30px 0;
    background-color: #101010;
    padding: 30px 20px;
  }
  footer .footer_2 .footer_2_1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  footer .footer_2 .footer_2_1 img {
    height: 150px;
    margin-bottom: 20px;
  }
  footer .footer_2 .footer_2_1 p {
    color: #A5A5A5;
    font-size: 16px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 500px;
  }

  .baner_bg {
    width: 100%;
    height: 300px;
    position: relative;
  }
  .baner_bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .baner_bg p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 56px;
    letter-spacing: 2px;
    font-weight: 600;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }

  header {
    width: 100%;
    background-color: #1e6312;
  }
  header .header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px;
  }
  header .header .logo {
    height: 80px;
  }
  header .header .logo img {
    height: 100%;
  }
  header .header .info_block {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #467e44;
  }
  header .header .info_block img {
    margin: 0 15px 0 30px;
  }
  header .header .info_block p {
    font-size: 13px;
    color: #fff;
  }
  header .header .info_block p span {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
  }
  header .header .menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header .header .menu a {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    margin-left: 0px;
  }

  .baner_text {
    width: 100%;
    padding: 60px 20px;
  }
  .baner_text h3 {
    color: #F3525A;
    font-size: 14px;
    font-weight: 500;
  }
  .baner_text h2 {
    font-size: 27px;
    font-weight: 500;
    margin: 35px 0;
  }
  .baner_text p {
    color: #565872;
    font-size: 14px;
    line-height: 1.8em;
  }
}